version: '3.1'

services:
  db:
    image: postgres:13.3
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=walletsuro
      - POSTGRES_MULTIPLE_DATABASES=walletsuro,walletsuro_test
    ports:
      - "5432:5432"
    volumes:postgres
      - ${PWD}/script/create-multiple-postgresql-databases.sh:/docker-entrypoint-initdb.d/init.sh:rw
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:
    driver: local